<%
const lang = locals.lang || "ru";

const meta = {
    description: dictionary.getText("Discloud - Not Found"),
    keywords: dictionary.getText("discloud, not found"),
    title: dictionary.getText("Discloud | Not Found")
};

const option = {
    yandexMetrika: false
};
%>

<!doctype html>
<html lang="<%= lang %>">
<head>
    <% include head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/index.bundle.css"/>
</head>
<body>
    <% include nav.ejs %>
    <div class="container e404">
        <div class="row">
            <div class="four columns">
                <img src="/img/bunny-404.png" alt="Error bunny"/>
            </div>
            <div class="four columns">
                <h1><%= dictionary.getText("Page not found") %></h1>
                <h4><%= dictionary.getText("Error 404") %></h4>
                <p><%= dictionary.getText("Seems like we can’t find the page you wanted") %>.</p>
                <a class="button" href="/"><%= dictionary.getText("Go back") %></a>
            </div>
            <div class="four columns"></div>
        </div>
    </div>
<script src="/js/index.bundle.js"></script>
<%- include script.ejs %>
</body>
</html>