<%
const lang = locals.lang || "ru";

const meta = {
    description: dictionary.getText("Discloud - distributed multi target file cloud"),
    keywords: dictionary.getText("file, cloud, file store, distributed"),
    title: dictionary.getText("Discloud - distributed file cloud")
};

const option = {
    yandexMetrika: true
};
%>

<!doctype html>
<html lang="<%= lang %>">
<head>
    <% include head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/index.bundle.css"/>
</head>
<body>
<% include nav.ejs %>
<div class="container index">
    <div class="top__preview">
        <p><%= dictionary.getText("Use our distributed file storage and your files will not be lost anymore") %>.</p>
        <p><%= dictionary.getText("Keep information in different regions and get access to it from any place where the Internet is available") %>
            .</p>
    </div>
    <div class="top">
        <div class="top-content">
            <a class="button top-content__button" href="/signup">
                <%= dictionary.getText("Create your personal account") %>
            </a>
            <div class="top-content__bottom">
                <p><%= dictionary.getText("Geographically distributed file storage") %>.</p>
                <p><%= dictionary.getText("Decentralized system") %>.</p>
                <p><%= dictionary.getText("Open source") %>.</p>
            </div>
        </div>
    </div>
    <div class="top__postview">
        <p>
            <%= dictionary.getText("Your organization can not store information in the \"cloud\"") %>?
            <%= dictionary.getText("This is no longer a problem") %>!
            <%= dictionary.getText("You can use our software on your servers") %>.
        </p>
    </div>
</div>
<script src="/js/index.bundle.js"></script>
<% include script.ejs %>
</body>
</html>