<%
const lang = locals.lang || "ru";

const meta = {
    description: dictionary.getText("Discloud - distributed multi target file cloud"),
    keywords: dictionary.getText("file, cloud, file store, distributed"),
    title: dictionary.getText("Discloud - distributed file cloud")
};

const option = {
    yandexMetrika: false
};
%>

<!doctype html>
<html class="login-html" lang="<%= lang %>">
<head>
    <% include head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/index.bundle.css"/>
</head>
<body>
<div>
    <div id="login" class="container login">
        <form class="form login-form" method="post" action="/">
            <div class="login-form__icon">
                <a href="/"><img src="/img/logo.png"/></a>
            </div>
            <div class="form-input">
                <i class="icon-user"></i>
                <input class="input-effect" type="text" name="username"/>
                <label><%= dictionary.getText("Username") %></label>
            </div>
            <div class="form-input">
                <i class="icon-password"></i>
                <input class="input-effect" type="password" name="password"/>
                <label><%= dictionary.getText("Password") %></label>
            </div>
            <div class="login-form__forgot">
                <a class="link" href="/resetpwd">
                    <%= dictionary.getText("Forgot password") %>
                </a>
            </div>
            <input type="submit" value="<%= dictionary.getText("Sign in") %>"/>
            <span class="login-form-text_supplied">
                <%= dictionary.getText("Or sign in using social media") %>
            </span>
            <div class="login-form-icons">
                <a href="/"><img src="/icon/icon-vk.png"/></a>
                <a href="/"><img src="/icon/icon-facebook.png"/></a>
            </div>
            <div class="login-form-signup">
                <span><%= dictionary.getText("Not set up yet") + "?" %></span>
                <a class="link" href="/signup"><%= dictionary.getText("Sign up") %></a>
            </div>
        </form>
    </div>
</div>
<script src="/js/index.bundle.js"></script>
<% include script.ejs %>
</body>
</html>