<%
const lang = locals.lang || "en";

const meta = {
    description: dictionary.getText("Discloud - distributed multi target file cloud, tariff"),
    keywords: dictionary.getText("file, cloud, file store, distributed, tariff, payment"),
    title: dictionary.getText("Discloud | Tariff")
};

const option = {
    yandexMetrika: true
};
%>

<!doctype html>
<html lang="<%= lang %>">
<head>
    <% include head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/index.bundle.css"/>
</head>
<body>
<div>
    <% include nav.ejs %>
    <div class="container tariff">
        <h1><%= dictionary.getText("Pricing plan") %></h1>
        <div class="row tariff-row">
            <div class="four columns">
                <div class="tariff-offer">
                    <span class="tariff__quota"><%= dictionary.getText("{0} GB", 100) %></span>
                    <a class="link"><%= dictionary.getText("{0} RUB / month", 139) %></a>
                </div>
            </div>
            <div class="four columns">
                <div class="tariff-offer">
                    <span class="tariff__quota"><%= dictionary.getText("{0} GB", 100) %></span>
                    <a class="link"><%= dictionary.getText("{0} RUB / month", 139) %></a>
                </div>
            </div>
            <div class="four columns">
                <div class="tariff-offer">
                    <span class="tariff__quota"><%= dictionary.getText("{0} GB", 100) %></span>
                    <a class="link"><%= dictionary.getText("{0} RUB / month", 139) %></a>
                </div>
            </div>
        </div>
        <a class="button">Choose plan</a>
        <div class="tariff-info">
            <h2>Safety and access</h2>
            <div class="row">
                <div class="six columns"></div>
                <div class="six columns"></div>
            </div>
            <div class="row">
                <div class="six columns"></div>
                <div class="six columns"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/index.bundle.js"></script>
<% include script.ejs %>
</body>
</html>