<%
const lang = locals.lang || "en";

const meta = {
    description: dictionary.getText("Discloud - distributed multi target file cloud"),
    keywords: dictionary.getText("file, cloud, file store, distributed"),
    title: dictionary.getText("Discloud - distributed file cloud")
};

const option = {
    yandexMetrika: true
};
%>

<!doctype html>
<html lang="<%= lang %>">
<head>
    <% include head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/index.bundle.css"/>
</head>
<body>
<div>
    <% include nav.ejs %>
    <div id="signup" class="container signup">
        <div class="row">
            <div class="six columns">
                <div class="signup-icon">
                    <a href="/"><img src="/img/logo.png" alt="Discloud logo"/></a>
                    <span class="signup-icon__text">
                        <%= dictionary.getText("One account to manage your data") %>
                    </span>
                </div>
                <div class="singup-icons">
                    <img src="/icon/icon-message.png" alt="Message icon"/>
                    <img src="/icon/icon-search.png" alt="Search icon"/>
                    <img src="/icon/icon-calendar.png" alt="Calendar icon"/>
                </div>
                <div class="signup-text">
                    <p>
                        <%= dictionary.getText("All of your files are in one place") %>.
                        <%= dictionary.getText("Quick search, filtering, archiving") %>.
                        <%= dictionary.getText("If one node does not work it will not matter because as long as there is at least one node with your file it will be available to you") %>.
                        <%= dictionary.getText("The access to the API you can can get here") %>.
                    </p>
                </div>
            </div>
            <div class="six columns">
                <form class="form signup-form" method="post" action="/">
                    <div class="form-heading">
                        <span><%= dictionary.getText("Create account") %></span>
                        <i class="icon-user-plus"></i>
                    </div>
                    <div class="form-input">
                        <i class="icon-user"></i>
                        <input class="input-effect" type="text" name="username"/>
                        <label><%= dictionary.getText("Username") %></label>
                    </div>
                    <div class="form-input">
                        <i class="icon-password"></i>
                        <input class="input-effect" type="password" name="password"/>
                        <label><%= dictionary.getText("Password") %></label>
                    </div>
                    <div class="form-input">
                        <i class="icon-password"></i>
                        <input class="input-effect" type="password" name="password-repeat"/>
                        <label><%= dictionary.getText("Repeat password") %></label>
                    </div>
                    <input type="submit" value="<%= dictionary.getText("Sign up") %>"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/index.bundle.js"></script>
<% include script.ejs %>
</body>
</html>